<!-- Custom Appender configuration -->
<configuration>

    <appender name="postLogs" class="com.amarkovits.logslibrary.PostLog">
        <baseurl>http://localhost:8080/v1/event/addMessage/</baseurl>
        <applicationname>logfilesapplicationname</applicationname>
    </appender>

    <Root level="error">
        <appender-ref ref="postLogs"/>
    </Root>
    <Root level="warn">
        <appender-ref ref="postLogs"/>
    </Root>
    <Root level="info">
        <appender-ref ref="postLogs"/>
    </Root>
    <Root level="trace">
        <appender-ref ref="postLogs"/>
    </Root>
    <Root level="debug">
        <appender-ref ref="postLogs"/>
    </Root>

</configuration>