<!-- Custom Appender configuration -->
<configuration>

    <appender name="postLogs" class="com.amarkovits.logslibrary.PostLog">
        <baseurl>http://localhost:8080/v1/event/addMessage/</baseurl>
        <applicationname>Logging testing library</applicationname>
    </appender>

    <Root>
        <level value="info" />
        <appender-ref ref="postLogs"/>
    </Root>

</configuration>